/* Bruno */

.carousel-item h3  {
    color: #fff;
}

.carousel-item p {
    color: #fff;
}


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

/* ******************** estilos para a página produtos.html */

.titulo {
    background-color:#f28d8d ;
    color:white;
    text-align: center;
    height: 30px;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
}

.conteudoCard{
    background-color: white;
    height: 350px;
    border: 1px solid #dff2f2;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

img {
    width: 80%;
    margin-top: 10px;
}

.categoria {
    text-align: center;
    color: #bf495e;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;    
}




.ceos{
    width: 80%;
    height: 80%;
}

.corTitulo{

    color: #bf4953;

}

.corTexto{
    color: #a68b3c;
}
