






/* ******************** estilos para a página produtos.html */

.titulo {
    background-color:#f28d8d ;
    color:white;
    text-align: center;
    height: 30px;
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
}

.conteudoCard{
    background-color: white;
    height: 350px;
    border: 1px solid #dff2f2;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

img {
    width: 80%;
    margin-top: 10px;
}

.categoria {
    text-align: center;
    color: #bf495e;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;    
}
